body{
        background-color: #f8f9fa;
}
#maincontainer {
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1500px;
    padding: 3.5rem 2rem 2rem 2rem;
}
footer {
    margin: 0 auto 0 auto;
    width: 95%;
    padding: 1rem 0 1rem 0;
    border-top: solid #a2a9b1 1px;
}
p {
    tab-size: 8;
}
.vmiszarok {
    padding: 0 2rem 0 0;
}
button{
    width: 3.5rem;
    border: none;
    background-color: transparent;
    position: fixed;
    top: 0;
}
#mininav {
    display: none;
    margin: 3.5rem 0 0 1rem ;
    background-color: white;
    position: fixed;
}