body{
    font-family: sans-serif;
    background-color: #f8f9fa;
    font-size: 0.875em;
}
#maincontainer {
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1650px;
    padding: 3.5rem 2rem 2rem 2rem;
}
footer {
    line-height: 1.5rem;
    font-size: 0.8125em;
    margin: 0 auto 0 auto;
    width: 95%;
    padding: 1rem 0 1rem 0;
    border-top: solid #a2a9b1 1px;
}
p {
    tab-size: 8;
    text-align: justify;
    word-spacing: 3px;
    row-gap: 120%;
    text-indent: 0.5rem;
    line-height: 110%;
}
.vmiszarok {
    padding: 0 1rem 0 0;
}
button{
    width: 3.5rem;
    border: none;
    background-color: transparent;
    position: fixed;
    top: 0;
}
#mininav {
    display: none;
    margin: 3.5rem 0 0 1rem ;
    background-color: white;
    position: fixed;
}
#mininav2 {
    font-size: 0.8125em;
    margin: 0 auto 0 auto;
    width: 100%;
    padding: 0.25rem 0 0.25rem 0;
    border-top: solid #a2a9b1 1px;
}
main {
    margin: 0 auto 0 auto;
    width: 100%;
    padding: 0.25rem 0 0.25rem 0;
    border-top: solid #a2a9b1 1px;
}
a {
    color: #3366cc;
    text-decoration: none;
}
a:hover{
    color: #3366cc;
    text-decoration: underline;
}
#alsoindex{
    font-size: 80%;
}
h1,h2,h3,h4 {
    font-family: 'Linux Libertine','Georgia','Times',sans-serif;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 21px;
}
h3 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
}
section {
    margin: 0 auto 0 auto;
    width: 100%;
    padding: 0.25rem 0 0.25rem 0;
    border-top: solid #a2a9b1 1px;
}
.sidecard {
    font-size: 12px;
    margin: 0.5rem 0 0.25rem 0;
    border: solid 2px #a2a9b1;
}
.sidecard>h2 {
    background-color: #e1afaf;
}
.takakozep {
    margin: 2rem auto 1.5rem auto;
    display: block;
    text-align: center;
}
.indent{
    text-indent: 2rem;
}
table{
    width: 95%;
    margin: 0 auto 2rem auto;   
    border-collapse: collapse;
    table-layout: fixed;
}
td{
    word-wrap: break-word;
    padding: 0.2rem;
}  
td:first-child {
    font-weight: bold;
}
#closeable {
    padding: 0.5rem;
    border: solid black 2px;
}
.idkmauto {
    margin: auto;
}
#logo {
    height: 4rem;
}